{% extends "blog/base.html" %} {% block content %}
<h2 class="my-4">Posts</h2>
{% for post in posts %}
<div class="card mb-3">
  <div class="card-body">
    <img
      class="rounded-circle"
      src="{{ post.author.profile.image.url }}"
      alt="Author"
    />
    <h6 class="card-subtitle text-muted mb-0 d-inline">
      <a
        class="text-info text-decoration-none mx-2"
        href="{% url 'user-posts' post.author.username %}"
        >{{post.author}}</a
      >{{post.date_posted|date:"F j, Y"}}
    </h6>
    <hr />
    <h5 class="card-title">
      <a
        href="{% url 'post-detail' post.id %}"
        class="text-decoration-none text-dark"
        >{{post.title}}</a
      >
    </h5>
  </div>
</div>
{% endfor %} {% endblock content %}
